<% @questions.each do |question| %>
  <article class="article" id="<%= question.id %>">
    <div>
      <div class="vote-buttons">
      <form class="upvote" method="post" action='/questions/<%= question.id %>/vote'>
        <button class="upvote_button" type="submit" name="upvote"></button>
      </form>

      <form class ="downvote" method="post" action='/questions/<%= question.id %>/vote'>
        <button class ="downvote_button" type="submit" name="downvote"></button>
      </form>
      </div>

      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      </div>
      <p>
        <span class='count-votes'><%= question.count_votes %></span> //
        <span class='username'><%= question.author.username %></span> //
        <span class='timestamp'><%= question.created_at %></span>
      </p>
  </article>
<% end %>
