<div class="container">
  <h1>Title: <%= @question.title %></h1>
  <p>Author: <%= @question.author.username %></p>
  <p>Content: <%= @question.content %></p>

    <% @question.comments.each do |comment| %>
        <li>Question Comment Content: <%= comment.content %>
          <span>Comment Author: <%= comment.author.username %></span>
        </li>
     <% end %>

  <% @question.answers.each do |answer| %>
    <p>Answer Author: <%= answer.author.username %></p>
    <p>Answer Content: <%= answer.content %></p>
    <ul>
    <% answer.comments.each do |comment| %>
        <li>Answer Comment Content: <%= comment.content %>
          <span>Comment Author: <%= comment.author.username %></span>
        </li>
     <% end %>
     <p>____________</p>
    </ul>
  <% end %>
</div>
