  <div class ="question-comment-post">
    <!-- upvote button for this comment -->
    <div class ='vote-buttons'>
      <form class="comment-upvote-button" method="post" action='/comments/<%= comment.id %>/vote'>
        <input type="hidden" name="question_id" value="<%= question.id %>"></input>
        <button class='upvote_button' type="submit" name="upvote" value="upvote"></button>
      </form>

      <!-- show comment vote count -->
      <div class="comment-vote-count">
        <%= comment.count_votes %>
      </div>
      <!-- downvote button for this comment  -->
      <form class="comment-downvote-button" method="post" action='/comments/<%= comment.id %>/vote'>
        <input type="hidden" name="question_id" value="<%= question.id %>"></input>
        <button class='downvote_button' type="submit" name="downvote" value="downvote"></button>
      </form>
    </div>


      <!-- show specific comment content for this comment -->
      <div class="comment-content">
        <li><span class="italics">Comment: </span><%= comment.content %>
          <span class="italics"><%= comment.author.username %></span>
        </li>
      </div>

  </div>
