<!-- upvote this answer comment -->
<form class="answer-comment-upvote-button" method="post" action='/comments/<%= comment.id %>/vote'>
  <input type="hidden" name="question_id" value="<%= @question.id %>"></input>
  <button type="submit" name="upvote" value="upvote">&#8593;</button>
</form>

<!-- downvote this answer comment -->
<form class="answer-comment-downvote-button" method="post" action='/comments/<%= comment.id %>/vote'>
  <input type="hidden" name="question_id" value="<%= @question.id %>"></input>
  <button type="submit" name="downvote" value="downvote">&#8595;</button>
</form>

<!-- show votes on this comment -->
<div class="answer-comment-vote-count">
  <%= comment.count_votes %>
</div>

<!-- show specific comment content -->
<div class="answer-comment-content">
  <li>Answer Comment Content: <%= comment.content %>
    <span>Comment Author: <%= comment.author.username %></span>
  </li>
</div>
